<h4>Connections</h4>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Type
        </th>
        <th>
          Username
        </th>
        <th>
          Created at
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Conexion de mysql
        </td>
        <td>
          MySQL
        </td>
        <td>
          root
        </td>
        <td>
          01/05/2016
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h4>
  MongoDB Databases
</h4>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Type
        </th>
        <th>
          Created at
        </th>
      </tr>
    </thead>
  </table>
</div>