<div class="form-group">
	<label>Name</label> <span class="important">*</span>
	<input type="text" ng-model="connection.name" name="" placeholder="Test Local" class="form-control" required>
</div>

<div class="form-group">
	<label>Type</label> <span class="important">*</span>
	<select class="form-control" ng-init="connection.type='mysql'" ng-model="connection.type" required>
    	<option value="mysql">MySQL</option>
    	<option value="sql">SQL</option>
    </select>
</div>

<div class="form-group">
	<label>host</label> <span class="important">*</span>
	<input type="text" placeholder="localhost" ng-model="connection.host" name="" class="form-control" required>
</div>

<div class="form-group">
	<label>Username</label>
	<input type="text" placeholder="root" ng-model="connection.username" name="" class="form-control">
</div>

<div class="form-group">
	<label>Password</label>
	<input type="password" placeholder="password" ng-model="connection.password" name="" class="form-control">
</div>

<div class="form-group">
	<a class="btn btn-default" ng-click="btnTest()">Test connection</a>
	<input type="submit" class="btn btn-success" value="Save">
</div>